body {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
}
canvas {
    width: 100%;
    height: 100%;
}

.cursordefault {
cursor: default;
}

  .nav1 {
    position: fixed;
    top: 10%;
    bottom: 85%;
    left: 35%;
    right: 35%;
  background-color: rgba(0,0,0,.3);
  border: 2px solid hsl(0, 100%, 50%);
  -webkit-animation: rainbow 2s infinite alternate;
}

  .nav2 {
    position: fixed;
    top: 60%;
    bottom: 10%;
    left: 35%;
    right: 35%;
  background-color: rgba(0,0,0,.3);
  border: 2px solid hsl(0, 100%, 50%);
  -webkit-animation: rainbow 2s infinite alternate;
}

  .nav3 {
    position: fixed;
    top: 20%;
    bottom: 10%;
    left: 30%;
    right: 30%;
  background-color: rgba(0,0,0,.3);
  border: 2px solid hsl(0, 100%, 50%);
  -webkit-animation: rainbow 2s infinite alternate;
}

@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 80%, 50%);}
  100% {border-color: hsl(255, 80%, 50%);}
}

a {
  padding: 24px 24px;
  text-decoration: none;
  position: relative;
  color: #666;
  transition: .5s;
}

a::before {
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

a:hover::before {
  transform: scale(1.1);
}

a:hover {
  color: #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
