*
{
margin: 0;
padding: 0;
font-family: consolas;
}
section
{
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
background: #111;
display: flex;
justify-content: center;
align-items: center;
}
section h2
{
font-size: 10em;
color: #333;
}
section span
{
position: absolute;
bottom: 50px;
background: transparent;
border-radius: 50%;

pointer-events: none;
box-shadow: inset 0 0 10px rgba(255,255,255,0.5);
animation: animate 4s linear infinite;
}
section span:before
{
content: '';
position: absolute;
width: 100%;
height: 100%;
transform: scale(0.25) translate(-70%,-70%);
background: radial-gradient(#fff.transparent);
border-radius: 50%;
}
@keyframes animate
{
0%
{
transform: translateY(0%);
opcaity: 1;
}
99%
{
opacity: 1;
}
100%
{
transform: translateY(-1200%);
opacity: 0;
  }
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #fff, #c5c5c5);
}

.buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.buttons li {
    display: inline-block;
    margin: 1em;
}

.btn {
    text-decoration: none;
    width: 5em;
    height: 5em;
    color: #fff;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
}

.btn,
.btn-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn .btn-inner {
    width: 3em;
    height: 3em;
    z-index: 1;
    background: inherit;
}

.btn-inner,
.btn-ring,
.btn-ring::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
}

.btn .btn-ring {
    width: 3.5em;
    height: 3.5em;
}

.btn-ring::before {
    content: "";
    width: 100%;
    height: 100%;
    transition: 0.3s cubic-bezier(0.39, 0.97, 0.69, 0.87);
}

.btn i {
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*==========
    Couleur par Bouton
==========*/

/*===== Facebook =====*/
.facebook {
    background-color: #1c4dab;
}

.facebook .btn-inner {
    box-shadow: inset -0.2em 0.2em 0.3em #00158c,
        inset 0.1em -0.1em 0.1em #238ff2;
}

.facebook .btn-ring {
    box-shadow: -0.2em 0.2em 0.3em #00158c, 0.1em -0.1em 0.1em #238ff2;
}

.facebook .btn-ring::before {
    background: linear-gradient(
        135deg,
        #024cd7 9%,
        #148be4 42%,
        #2ad7f4 50%,
        #148be4 58%,
        #024cd7 100%
    );
}

/*===== Youtube =====*/
.youtube {
    background-color: #cc1c20;
}

.youtube .btn-inner {
    box-shadow: inset -0.2em 0.2em 0.3em #c30102,
        inset 0.1em -0.1em 0.1em #eb5958;
}

.youtube .btn-ring {
    box-shadow: -0.2em 0.2em 0.3em #c30102, 0.1em -0.1em 0.1em #eb5958;
}

.youtube .btn-ring::before {
    background: linear-gradient(
        135deg,
        #f10100 9%,
        #f54353 42%,
        #f5d3d7 50%,
        #f54353 58%,
        #f10100 100%
    );
}

/*===== Instagram =====*/
.instagram {
    background: linear-gradient(135deg, #383dd5 0%, #cf237a 50%, #f58845 100%);
}

.instagram .btn-inner {
    box-shadow: inset -0.2em 0.2em 0.3em #9304a1,
        inset 0.1em -0.1em 0.1em #f5666f;
}

.instagram .btn-ring {
    box-shadow: -0.2em 0.2em 0.3em #9304a1, 0.1em -0.1em 0.1em #f5666f;
}

.instagram .btn-ring::before {
    background: linear-gradient(
        135deg,
        #d311cd 9%,
        #4e2ee7 42%,
        #c2aaf4 50%,
        #d91756 58%,
        #ef8747 100%
    );
}

/*===== Twitter =====*/
.twitter {
    background: #159fcd;
}

.twitter .btn-inner {
    box-shadow: inset -0.2em 0.2em 0.3em #097bb8,
        inset 0.1em -0.1em 0.1em #17c2ec;
}

.twitter .btn-ring {
    box-shadow: -0.2em 0.2em 0.3em #097bb8, 0.1em -0.1em 0.1em #17c2ec;
}

.twitter .btn-ring::before {
    background: linear-gradient(
        135deg,
        #06a8a8 9%,
        #0fb5ef 42%,
        #16f0f5 50%,
        #0fb5ef 58%,
        #06a8e8 100%
    );
}

/*===== Hover effects =====*/
.btn:hover {
    transform: scale(1.03);
}

.btn:hover > .btn-ring::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

/* 
Vous pouvez facilement redimensionner 
les boutons en changeant la taille de 
la police sur l'élément 'buttons'
*/
.buttons {
    font-size: 36px;
}

/*
Ceci est rendu possible en utilisant 
uniquement des unités 'em' pour toutes les 
propriétés de dimensionnement
*/
.buttons {
    font-size: 16px;
}
